@charset "UTF-8";

body {
    margin: 0%; /*Sempre tirar as margens e reajustar cada parte com o padding*/ 
    background-color: rgba(0, 0, 0, 0.212);
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}
header {
    background-color: black;
    text-align: center;
    margin: 0%;
    padding: 60px;
}
header h1 {
    color: aliceblue;
    font-size: 3.8vw;
    
}
header h2 {
    color: aliceblue;
    font-size: 20px;
}

header p {
    color: aliceblue;
    text-align: right;
    font-size: 0.8vw;
}
main p {
    line-height: 40px;
}
a {
    text-decoration: none;
    color: rgba(255, 255, 255, 0.562);
}
a:hover {
    color: white;
    background-color: rgba(255, 255, 255, 0.349);
    border-radius: 8px;
    padding: 5px;
    text-decoration: underline;
    transition: 0.8s;
}
section p {
    max-width: 700px;
    min-width: 300px;
    margin: 15px 0px;
    line-height: 2em;
    font-size: 2vw; /*Coloca os textos adaptáveis a qualquer largura (pc, celular, tablet, etc)*/ 
}
.section1 {
    padding: 30px;
    background-image: url(imagens/background002.jpg);
    margin: 0%;
    box-shadow: inset -8px 8px 60px black;
    
    background-position: center center;
    background-attachment: fixed;
    background-size: cover;

}
.section1 p {
    color: rgb(0, 0, 0);
    background-color: rgba(128, 128, 128, 0.651);
    border-radius: 25px;
    padding: 20px;
}
.section2 {
    background-color: white;
    padding: 30px;
    background-color: black;
}

.section2 p {
    color: antiquewhite;
    background-color: rgba(128, 128, 128, 0.274);
    border-radius: 25px;
    padding: 20px;
}
.section3 {
    padding: 30px;
    box-shadow: inset -8px 8px 60px black;

    background-image: url(imagens/background001.jpg);
    background-position: center center;
    background-attachment: fixed;
    background-size: cover;
}
.section3 p {
    color: antiquewhite;
    background-color: rgba(128, 128, 128, 0.274);
    border-radius: 25px;
    padding: 20px;
}
.section4 {
    background-color: black;
    padding: 30px;
}

.section4 p {
    color: antiquewhite;
    background-color: rgba(128, 128, 128, 0.274);
    border-radius: 25px;
    padding: 20px;
}
.section5 {
    background-color: white;
    padding: 30px;    

    background-image: url(imagens/pexels-mehmet-turgut-kirkgoz-14422910.jpg);
    margin: 0%;
    box-shadow: inset -8px 8px 60px black;
    background-position: center center;
    background-attachment: fixed;
    background-size: cover;
}

.section5 p {
    color: rgb(0, 0, 0);
    background-color: rgba(128, 128, 128, 0.651);
    border-radius: 25px;
    padding: 20px;
}
footer {
    background-color: black;
    font-size: 10px;
    text-align: center;
    color: white;
    padding: 1px;
    max-width: 2400px;
    min-width: 300px;
}